@charset "UTF-8";

    html{
        --scroll-padding-top: 70px;
        --light-color: #f0eaeb;
        --dark-color: #2F3C7E;
    }

    body, input, button, h3{
        font-family: 'Quicksand', sans-serif;
    }

    body{
        scroll-padding-top: var(--scroll-padding-top);

        padding: 70px 0 0 0;
        background: var(--light-color);
        color: var(--dark-color);
    }

    a{
        text-decoration: none;
        color: rgb(118, 138, 235);
    }

    header{
        width: 100%;
        min-height: 50px;
        position: fixed;
        display: flex;
        padding: 10px;

        border-bottom: 1px solid rgb(9, 13, 68);

        top: 0;
        left: 0;
        z-index: 10;

        background: var(--dark-color);

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    

    .navbar{
        height:100%;
        color: var(--light-color);
        line-height: 30px;
        padding: 0 10px;
        font-weight: 300;

        border-radius: 10px;

        -webkit-transition: background ease 0.2s;
        -moz-transition: background ease 0.2s;
        -ms-transition: background ease 0.2s;
        -o-transition: background ease 0.2s;
        transition: background ease 0.2s;
    }

    a.navbar:hover{
        color: var(--dark-color);
        background: var(--light-color);
        cursor: pointer;
    }

    button.headerbtn{
        padding: 5px 10px 5px 10px;
        color: var(--light-color);
        font-size: 20px;
        background: none;
        border: 0;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        border-radius:10px;

        -webkit-transition: background ease 0.2s;
        -moz-transition: background ease 0.2s;
        -ms-transition: background ease 0.2s;
        -o-transition: background ease 0.2s;
        transition: background ease 0.2s;
    }

    button.headerbtn:hover{
        color: var(--dark-color);
        background: var(--light-color);
    }

    #github{
        margin-right: auto;
    }

    img{ 
        width: 200px;
        height: 200px;

        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;

        border: solid 8px var(--dark-color);
        border-radius: 100px;
        
    }

    div.intro_container{
        margin: 25px 0;
    }

    div.intro-text{
        min-height: 50px;
        width: 100%;
        padding: 10px 20px;

        display: inline-block;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
        font-weight: 500;
        font-size: 16px;

    }

    div.intro-text span.name{
        font-size: 22px;
    }

    hr{
        margin: 10px auto;
        width: 40%;
        height: 3px;
        
        border:0;
        background-color: var(--dark-color);
    }

    #about_line{
        background-color: var(--light-color);
        width: 20%;
    }
    #project_line{
        background-color: var(--dark-color);
        width: 20%;
    }
    #project_divider_line{
        width: 60%;
        margin: 20px auto;
    }

    div.container{
        position: relative;
        top: 0;
        left: 0;
    }
    div.about_container{
        width: 100%;
        height: auto;
        color: var(--light-color);
        background: var(--dark-color);
        position: relative;
        padding: 20px 0;

    }

    div.section_title{
        width: 100%;
        text-align: center;

        padding: 0 20px 20px 20px;
        font-size: 26px;

    }

    div.about_content{
        height: auto;
        position: relative;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 10px;

        display: flex;
        justify-content: space-evenly;
    }

    div.left_section {
        width: 100%;
        padding: 0 20px 00 0;
        font-size: 18px;
        text-align: justify;
    }

    div.right_section {
        width: 100%;
        
    }

    div.list_title{
        font-size: 20px;
    }

    div.list_content{
        padding-left: 20px;
        font-size: 16px;
    }

    div.project_content{
        padding-left: 20px;
        font-size: 18px;  
    }

    div.project_container{
        width: 100%;
        height: auto;
        color: var(--dark-color);
        background: var(--light-color);
        padding: 20px 0;
        
    }

    div.project_item{
        height: auto;

        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 10px;
        
        display: flex;
        justify-content: space-evenly;

    }

    div.project_section{
        width: 100%;
        text-align: center;
    }

    video{
        height: auto;
        width: 500px;

        display: inline-block;
    }
    



    





    